nav{
    float: left;
    width: 200px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    list-style: none;
    background-color: burlywood;
}

li {
    list-style: none;
}

div {
    width: 1000px;
}
section {
    width: 850px;
    margin-left: 230px;
    margin-right: 230px;
    border: 1px solid blue;
    border-radius: 15px;
    padding: 10px;
}

aside{
    width:198px; 
    float: right; 
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px; 
}

footer {
    border: 1px solid black;
    margin-bottom: 0px
}

hr {
    height: 5px;
    background-color: blueviolet;
}

#img1 {
    float: left;
    margin: 10px;
}